<%layout("layouts/boilerplate")%>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-2">
                <H3>
                    <%= listing.title %>"
                </H3>
            </div>
            <div class="card col-6 offset-2 listing-card">
                <div class="card" style="width: 18rem;">
                    <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing_image">
                    <div class="card-body">
                        <p class="card-text">
                            <br>
                            <%=listing.description %> <br>
                            &#8377;<%=listing.price %> <br>
                            <%=listing.country%>

                        </p>
                    </div>
                </div>
            </div>


            <br>


        </div>

        <div class="btns offset">
            <a href="/listings/<%= listing._id %>/edit " class="btn btn-dark edit-btn">Edit </a>
            <br>
            <br>
            <a href="/listings" class="btn btn-dark mb-3 ">Back </a>
            <br>

            <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
                <button class="btn btn-dark"> Delete</button>
            </form>
        </div>

        <div class="col-8 offset-1 ">
            <hr>

            <form action="/listings/<%= listing._id %>/reviews" method="POST" class="col-8 offset-3 mb-3 offset-3 needs-validation " novalidate>
                <h4>Leave A Review</h4>
                <div class="mb-3 mt-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range ">
                </div>
                <div class="mb-3 mt-3">
                    <label for="comment" class="form-label">Comment</label>
                    <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                    <div class="invalid-feedback">give us the valid feedback for users </div>
                </div>
                <button class="btn btn-outline-dark ">Submit</button>
            </form>
        </div>

        <hr>
            <p><b>All Review</b></p>
            <div class="row">
                  <%  for(review of listing.reviews){%>
                <div class="card col-6 mb-3 ms-3">
                    <div class="card-body">
                        <h5 class="card-text">shreyash</h5>
                        <p class="card-text"><%= review.comment %></p>
                        <p class="card-text"><%= review.rating %></p>
                    </div>

                </div>
                <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST" class="mb-3" >
                    <button class="btn btn-dark">Delete</button>

                </form>
            </div>

            
          
                 
            <% }%>

    
        

    </body>